@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  root: ":root";
  logs: true;
};

/* @plugin 'tailwind-scrollbar'; */

@layer utilities {
  .scrollbar {
    /* scrollbar-width: thin; */
    scrollbar-gutter: stable;
    /* scrollbar-color: transparent transparent; */
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* background-color: transparent; */
  }
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-pretendard: 'Pretendard Variable';
}

:root {
}

body {
  font-family: var(--font-pretendard);
}